@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", sans-serif;
  --font-inter: "Inter", sans-serif;
}

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #020617;
  font-family: var(--font-outfit);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-inter {
  font-family: var(--font-inter);
}